@define-color white         #F2F2F2;
@define-color black         #000000;
@define-color text          @foreground;
@define-color lightgray     #686868;
@define-color darkgray      #353535;

@define-color transparent   rgba(1, 1, 1, 0.5);
@define-color teal-trans    rgba(1, 117, 84, 0.5);
@define-color cyan          rgba(53, 140, 169, 1);

@define-color background-module     @transparent;
@define-color border-color          @color12;
@define-color button-color          @color11;
@define-color button-hover          @color13;

@import '../../.config/waybar/wallust/colors-waybar.css';
@import "../waybar/style/catppuccin-themes/latte.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: transparent;
    border-radius: 0px;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0;
}

tooltip {
    background: #1e1e2e;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: @border-color;
    color: @foreground;
}

/*----- module groups ----*/
.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: none;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-right: 4px;
    padding-left: 4px;
}

#workspaces {
    padding: 0px 1px;
    border-radius: 15px;
    border: 2px solid @border-color;
    font-weight: bold;
    opacity: 0.8;
    color: @foreground;
}

#taskbar button,
#workspaces button {
    color: @foreground;
    border-radius: 30px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button.active,
#workspaces button.active {
    color: @color13;
    background-color: transparent;
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button.focused {
    color: @foreground;
}

#workspaces button.urgent {
    color: @color0;
    border-radius: 10px;
}

#taskbar button:hover,
#workspaces button:hover {
    color: @color13;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

#temperature.critical {
    background-color: @color1;
}

@keyframes blink {
    to { color: @color0; }
}

#backlight-slider slider,
#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 5px;
    border-radius: 5px;
    background-color: #22252a;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    min-height: 10px;
    border-radius: 5px;
    background-color: @color11;
}

#pulseaudio-slider,
#pulseaudio {
    color: @color13;
}

#pulseaudio.muted {
    color: @color1;
}

#memory  { color: @color4; }
#cpu     { color: @color5; }
#battery { color: @color6; }
#disk    { color: @color7; }

#temperature.critical { background-color: @color1; }

#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
}

#custom-hypridle,
#custom-lock,
#idle_inhibitor {
    color: @color10;
}

#custom-hypridle.notactive,
#idle_inhibitor.activated {
    color: @color2;
}

#clock#2 {
    color: @foreground;
}

#clock {
    color: @foreground;
    border-radius: 15px;
    border: 2px solid @border-color;
}

#custom-updates { color: @color3; }
#swaync         { color: @color13; }


#custom-clock,
#custom-ethernet,
#custom-vpn,
#custom-target,
#custom-ports,
#custom-volumen,
#custom-battery,
#custom-power {
    background-color: @background-module;
    border-radius: 15px;
    border-bottom: 2px solid @border-color;

    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;

    margin-left: 3px;
    margin-right: 3px;
}

#custom-launcher {
    font-size: 18px;
    padding-top: 0px;     
    padding-bottom: 0px;

    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;

    margin-left: 3px;
    margin-right: 3px;
}


